In [11]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
SUB_PATH = '/content/drive/MyDrive/data_science_competitions/analytics_vidhya/dataverse_hack/submissions'
folds_df = pd.DataFrame()
mode_df = pd.DataFrame()

In [7]:
for i in range(1, 4):
    for j in range(1, 3):
        for k in range(5):
            path = f'{SUB_PATH}/nb_0{i}/0{j}_fold{k}.csv'
            col = f'nb0{i}_0{j}_fold{k}'
            folds_df[col] = pd.read_csv(path, usecols=[1])

In [8]:
for i in range(1, 4):
    for j in range(1, 3):
        path = f'{SUB_PATH}/nb_0{i}/0{j}_mode.csv'
        col = f'nb0{i}_0{j}_mode'
        mode_df[col] = pd.read_csv(path, usecols=[1])

In [12]:
folds_df.head()

,nb01_01_fold0,nb01_01_fold1,nb01_01_fold2,nb01_01_fold3,nb01_01_fold4,nb01_02_fold0,nb01_02_fold1,nb01_02_fold2,nb01_02_fold3,nb01_02_fold4,nb02_01_fold0,nb02_01_fold1,nb02_01_fold2,nb02_01_fold3,nb02_01_fold4,nb02_02_fold0,nb02_02_fold1,nb02_02_fold2,nb02_02_fold3,nb02_02_fold4,nb03_01_fold0,nb03_01_fold1,nb03_01_fold2,nb03_01_fold3,nb03_01_fold4,nb03_02_fold0,nb03_02_fold1,nb03_02_fold2,nb03_02_fold3,nb03_02_fold4
0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1

In [13]:
mode_df.head()

,nb01_01_mode,nb01_02_mode,nb02_01_mode,nb02_02_mode,nb03_01_mode,nb03_02_mode
0,1,1,1,1,1,1
1,0,0,0,0,0,0
2,0,0,0,0,0,0
3,0,0,1,0,0,0
4,0,0,1,0,0,0

In [14]:
folds_df.shape, mode_df.shape

((39063, 30), (39063, 6))

In [15]:
folds_majority = round(folds_df.mean(axis=1)).astype('int') #1 only if more than half preds are 1

In [16]:
mode_majority = round(mode_df.mean(axis=1)).astype('int')

In [17]:
test_index = pd.read_csv(f'{SUB_PATH}/nb_01/01_mode.csv', usecols=[0])

In [20]:
folds_voting = pd.DataFrame({
    'policy_id': test_index.policy_id.values,
    'is_claim': folds_majority.values
})
folds_voting.to_csv(f'{SUB_PATH}/nb_04/folds_voting.csv', index=False)

In [21]:
mode_voting = pd.DataFrame({
    'policy_id': test_index.policy_id.values,
    'is_claim': mode_majority.values
})
mode_voting.to_csv(f'{SUB_PATH}/nb_04/mode_voting.csv', index=False)