<a href="https://colab.research.google.com/github/stiwari-ds/data-science-competitions/blob/main/machinehack/infocepts_data_engg_hackathon/notebooks/01_parsing_xml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

In [20]:
import os
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 4)

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
data_path = '/content/drive/MyDrive/data_science_competitions/machinehack/infocepts_data_engg_hackathon/data'

In [4]:
sample_sub = pd.read_csv(f'{data_path}/raw/infocept_submission.csv')
data = pd.read_xml(f'{data_path}/raw/infocept_xml_data_.xml')

# Data overview

In [5]:
data.head()

,index,user_session,total_clicks,total_items,total_cats,max_dwell,mean_dwell,total_duration,click_rate,day_of_week,is_weekend,is_special_day,time_of_day,cat_most_viewed_n_times,cat_most_viewed,prod_most_viewed_n_times,prod_most_viewed,cat_views_freqs,prod_views_freqs,cat_buys_freqs,prod_buys_freqs,is_purchase,start_time_ts,end_time_ts
0,0,8b69208e-7c64-422d-b670-5b9d82d25606,7,2,1,0.5115,5.9959,166.7112,0.0725,1,0,0,2,2.0,2053013560982667520,1.0,1030297,0.2678,0.0009,2.3374e-01,0.0007,0,"October 07, 2019 Monday, 00:08:28","October 26, 2019 Saturday, 16:08:29"
1,1,8068596c-a2b8-46ca-8791-e10d70520a1f,7,2,1,7.6266,3.5292,0.4342,0.2042,0,0,0,2,4.0,2053013602328876544,1.0,36083228,0.1409,0.0009,4.5503e-01,0.0007,0,"October 01, 2019 Tuesday, 15:08:40","October 15, 2019 Tuesday, 20:03:18"
2,2,4d153217-e06d-4581-8924-702c7f757610,2,22,1,3.0956,180.9775,0.9353,0.0460,4,0,0,2,2.0,2175094838038844672,2.0,1002263,0.0003,0.0009,9.1020e-08,0.0007,0,"October 14, 2019 Monday, 21:17:24","October 23, 2019 Wednesday, 21:56:30"
3,3,e65a6869-fb45-4f34-8482-c80278676d0f,2,2,1,1.0891,4.3383,0.4171,0.0285,0,0,0,2,3.0,2053013568140556288,3.0,1003257,0.1501,0.0009,4.5503e-01,0.0007,0,"October 05, 2019 Saturday, 21:54:13","October 17, 2019 Thursday, 13:54:29"
4,4,d8206742-06d7-42a2-8163-d70f9dd6cb18,5,1,1,0.3298,3.1809,2.4857,0.0948,5,0,0,2,3.0,2053013558410492160,1.0,13728056,0.2678,0.0009,4.5503e-01,0.0007,0,"October 09, 2019 Wednesday, 13:33:22","October 29, 2019 Tuesday, 11:51:04"

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 24 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   index                     500000 non-null  int64
 1   user_session              500000 non-null  object
 2   total_clicks              500000 non-null  int64
 3   total_items               500000 non-null  int64
 4   total_cats                500000 non-null  int64
 5   max_dwell                 500000 non-null  float64
 6   mean_dwell                500000 non-null  float64
 7   total_duration            500000 non-null  float64
 8   click_rate                500000 non-null  float64
 9   day_of_week               500000 non-null  int64
 10  is_weekend                500000 non-null  int64
 11  is_special_day            500000 non-null  int64
 12  time_of_day               500000 non-null  int64
 13  cat_most_viewed_n_times   500000 non-null  float64
 14  cat_most_viewed           500000 non-null  int64
 15  prod_most_viewed_n_times  500000 non-null  float64
 16  prod_most_viewed          500000 non-null  int64
 17  cat_views_freqs           500000 non-null  float64
 18  prod_views_freqs          500000 non-null  float64
 19  cat_buys_freqs            500000 non-null  float64
 20  prod_buys_freqs           500000 non-null  float64
 21  is_purchase               500000 non-null  int64
 22  start_time_ts             500000 non-null  object
 23  end_time_ts               500000 non-null  object
dtypes: float64(10), int64(11), object(3)
memory usage: 91.6+ MB

In [7]:
sample_sub.head()

,total_duration,is_special_day,prod_views_freqs,prod_buys_freqs,give_big_discount,prod_views_buys_ratio,loyalty_points,total_inventory,time_spec_points
0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0

# Dropping useless columns

In [10]:
useful_columns = [
                  'start_time_ts', #task 1
                  'total_duration', #task 2 and 6
                  'total_clicks', 'total_items', 'total_cats', #task 3
                  'day_of_week', 'is_special_day', #task 4
                  'prod_views_freqs', 'prod_buys_freqs', #task 5
                 ]

In [11]:
df = data[useful_columns]

In [12]:
df.head()

,start_time_ts,total_duration,total_clicks,total_items,total_cats,day_of_week,is_special_day,prod_views_freqs,prod_buys_freqs
0,"October 07, 2019 Monday, 00:08:28",166.7112,7,2,1,1,0,0.0009,0.0007
1,"October 01, 2019 Tuesday, 15:08:40",0.4342,7,2,1,0,0,0.0009,0.0007
2,"October 14, 2019 Monday, 21:17:24",0.9353,2,22,1,4,0,0.0009,0.0007
3,"October 05, 2019 Saturday, 21:54:13",0.4171,2,2,1,0,0,0.0009,0.0007
4,"October 09, 2019 Wednesday, 13:33:22",2.4857,5,1,1,5,0,0.0009,0.0007

'day_of_week' is not based on 'start_time_ts'
* it is 0 for both Tuesday (Row-1) and Saturday (Row-3). 
* it is both 1 and 4 for Monday (Row-0 and Row-2)

# Saving processed dataframe

In [21]:
processed_data_path = f'{data_path}/processed'
if not os.path.isdir(processed_data_path):
    os.mkdir(processed_data_path)

df.to_csv(f'{processed_data_path}/data.csv', index=False)