<a href="https://colab.research.google.com/github/stiwari-ds/data-science-competitions/blob/main/analytics_vidhya/ml_summer_training_2022/notebooks/05_voting_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
sub_path = '/content/drive/MyDrive/data_science_competitions/analytics_vidhya/ml_summer_training_2022/submissions/'
sub_df = pd.DataFrame()

In [ ]:
sub_df['xgb_all'] = pd.read_csv(sub_path + '02_sub_all.csv', usecols=[1])
sub_df['xgb_original'] = pd.read_csv(sub_path + '02_sub_original.csv', usecols=[1])
sub_df['xgb_selected'] = pd.read_csv(sub_path + '02_sub_selected.csv', usecols=[1])
sub_df['cb_all'] = pd.read_csv(sub_path + '03_sub_all.csv', usecols=[1])
sub_df['cb_original'] = pd.read_csv(sub_path + '03_sub_original.csv', usecols=[1])
sub_df['cb_selected'] = pd.read_csv(sub_path + '03_sub_selected.csv', usecols=[1])
sub_df['lgb_all'] = pd.read_csv(sub_path + '04_sub_all.csv', usecols=[1])
sub_df['lgb_original'] = pd.read_csv(sub_path + '04_sub_original.csv', usecols=[1])
sub_df['lgb_selected'] = pd.read_csv(sub_path + '04_sub_selected.csv', usecols=[1])

In [ ]:
sub_df.head(10)

,xgb_all,xgb_original,xgb_selected,cb_all,cb_original,cb_selected,lgb_all,lgb_original,lgb_selected
0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,1,1,1
3,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0
7,1,1,1,1,1,1,1,1,1
8,1,1,0,1,1,1,1,1,1
9,1,0,0,1,1,1,1,1,1

In [ ]:
vote_preds = round(sub_df.mean(axis=1)).astype('int') #1 only if more than half preds are 1

In [ ]:
test_index = pd.read_csv(sub_path + '02_sub_all.csv', usecols=[0])

sub_voting = pd.DataFrame({
    'loan_id': test_index.loan_id.values,
    'loan_default': vote_preds.values
})
sub_voting.to_csv('05_sub_voting.csv', index=False)

In [ ]:
!head 05_sub_voting.csv

loan_id,loan_default
7001,0
7002,0
7003,0
7004,0
7005,0
7006,0
7007,0
7008,1
7009,1